
.clear { clear: both; }


*, ::after, ::before {
    box-sizing: border-box;
}
@font-face {
    font-family: 'dinmedium';
    src: url('din-medium-webfont.woff2') format('woff2'),
         url('din-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body { margin: 0px; padding: 0px;  }

/* nav settings */
.site-header__icon:nth-of-type(1),
.site-header__icons .site-header__cart
{ display : none; }
.site-nav { margin : 0px; }
.site-header .grid--table>.grid__item { background-color: #015794; }
.site-nav a { color : white; }
.site-nav .site-nav__dropdown a { color : black; }
.site-nav .site-nav__dropdown a:hover { color : black; }
.site-nav__link--button { color : white; }
.site-nav { text-align: right; }
.btn--link.js-mobile-nav-toggle { color : white !important; }
#SiteNav a:not([disabled]):hover, #SiteNav a:focus,
.site-nav__link--button:focus
 {  color: white; } 
.site-nav__label {
    border-bottom: 0px solid transparent;
}
.site-nav__link--button:hover {  color: white !important; }
a.site-header__logo-image img { max-width: 310px !important; }
.site-nav__label {
    font-family: 'dinmedium';
    font-size: 15px;
    text-transform: uppercase;
}
.site-nav__dropdown--left ul li a span:hover { color: #00ADEE; }

.site-nav__dropdown--left ul li a span { color: #015794;}
/* //nav settings */

/* Home Product */
.cfl-products-all h2 {
    font-family: nippori, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #005793;
    text-align: left;
    margin: 0 0 30px 0;
}
.cfl-products-all .product-card__image-with-placeholder-wrapper {
    border: 1px solid #DFDFDF;
    padding: 40px 50px;
}
.cfl-products-all .h4.grid-view-item__title.product-card__title {
    text-align: center;
    border: 0px solid;
    width: 100%;
    float: left;
    font-family: 'dinmedium';
    font-size: 18px;
    clear: both;
    display: block;
    padding: 11px 0;
}
.cfl-products-all dl.price.price--listing.price--on-sale {
    float: left;
    width: 100%;
  align-items: center;
      font-family: 'dinmedium';
    font-size: 15px;
    font-weight: normal;
  margin-bottom: 30px; 
}
.cfl-products-all .price__badges--listing { display: none;  }
.cfl-products-all hr {
    margin-top: 0px;
}
.cfl-products-all a.btn:hover { background-color: transparent; color:black; border-bottom: 2px solid #00ADEE;
transition: .3s;}
.cfl-products-all a.btn {
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-family: 'dinmedium';
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    border-bottom: 2px solid;
    margin: 0;
    padding: 4px 0 6px 0;
}
.cfl-products-all .page-width {
    max-width: 1500px;
    width: 80%;
    border: 0px solid;
    padding: 0;
    margin: 0 auto;
}
button.cfl-btn.cfl-add-to-cart {
    background-color: #015794;
    border: none;
    width: 50%;
  margin-bottom:5px;
}
button.cfl-btn.cfl-add-to-cart a {
    color: white;
    padding: 14px 0px;
    background-color: #015794;
    width: 100%;
    font-size: 13px;
    float: left;
    font-family: 'dinmedium';
    text-transform: uppercase;
    font-weight: normal;
}

button.cfl-btn.cfl-buy-now { background-color: #00ADEF; border: none; width:49%; float:right;margin-bottom:30px;}
button.cfl-btn.cfl-buy-now a {   color: white; padding: 14px 0px; background-color: #00ADEF; width: 100%;
  font-size: 13px; float: left; font-family: 'dinmedium'; text-transform: uppercase; font-weight: normal; }

/* //Home Product */


.cfl-section-2 { max-width: 1500px; width: 90%; margin: 0 auto; border: 0px dashed red; flex-direction: row; align-items: center;
                margin: 50px auto 50px; display: flex; }
.cfl-section-3 { max-width: 1500px; width: 90%; margin: 0 auto; border: 0px dashed red; flex-direction: row; align-items: center;
                margin: 50px auto 50px; display: flex; }                
.cfl-section-5 { max-width: 1500px; width: 90%; margin: 0 auto; border: 0px dashed red; }  

.cfl-blue-bg-5 {
    background-image: url(../imgs/img_5.jpg);
    height: auto;
    padding: 70px 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;flex-direction: row; align-items: center;
                 display: flex; 
}

.cfl-section-5-in { border: 0px solid red;  }

.cfl-section-5-in h3 {  font-family: nippori, sans-serif; font-weight: 400; font-style: normal; font-size: 37px; color: #fff;
    margin: 0 0 30px 0px; text-align: center; }
.cfl-section-5-in p { font-family: 'dinmedium'; font-size: 20px; text-align: center; color: white; line-height: 31px; width: 85%; margin: 0 auto; }
.cfl-section-5-contact-1 {
    background-image: url('https://cdn.shopify.com/s/files/1/0510/9914/0255/files/email_btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 122px;
    width: 550px;
    background-size: 100%;
    float: left;
    text-align: center;
    line-height: 110px;
    font-family: 'dinmedium';
}
.cfl-section-5-contact-1 p img {
    width: 40px;
    float: left;
}
.cfl-section-5-contact-1 p {
    width: 350px;
    border: 0px solid red;
    margin: 38px auto 0;
}
.cfl-section-5-contact-1 p a {
    text-decoration: none;
    color: #005793;
    line-height: 37px;
    font-size: 20px;
    font-weight: normal;
}

.cfl-section-5-contact-2 {
    background-image: url('https://cdn.shopify.com/s/files/1/0510/9914/0255/files/call_btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 122px;
    width: 437px;
    background-size: 100%;
    float: left;
    margin: 20px 0 0 -94px;
    text-align: center;
    line-height: 110px;
    font-family: 'dinmedium';
}
.cfl-section-5-contact-2 p img {
    width: 40px;
    float: left;
}
.cfl-section-5-contact-2 p {
    width: 250px;
    border: 0px solid red;
    margin: 38px auto 0;
}
.cfl-section-5-contact-2 p a {
    text-decoration: none;
    color: #005793;
    line-height: 37px;
    font-size: 20px;
    font-weight: normal;
}

.cfl-section-5-contact {
    border: 0px dashed;
    
    max-width: 899px;
    width: 100%;
    margin: 40px auto 0;
}

/*.cfl-section-4 { max-width: 1500px; width: 90%; margin: 0 auto; border: 1px dashed red; flex-direction: row; align-items: center;
                margin: 50px auto 50px; display: flex; }                                */

.cfl-section-3 h2 { font-family: nippori, sans-serif; font-weight: 400;  font-style: normal;
    font-size: 37px; color: #005793; margin: 0 0 30px 0; }

.cfl-section-4-left {
    width: 40%;
    float: left;
    margin: 0 auto;
}
.cfl-quote-slider { font-family: 'dinmedium';     font-size: 20px; }
.cfl-quote-slider ul { margin: 0px; padding:0px;  }
.cfl-quote-slider ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cfl-section-4-right { width: 50%; float:right;  }
.cfl-quote-slider h3 {
    font-family: nippori, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    color: #005793;
    margin: 0 0 30px 0px;
}
.cfl-quote img {
    width: 100px;
    margin: 0px;
} 
.cfl-section-4-right img { width: 100%;  }
.cfl-section-4 {
    flex-direction: row;
    align-items: center;
    margin: 60px 0;
    display: flex;
}

.cfl-section-2-right { text-align: right;  }
.cfl-section-2-right img { width: 90%;  }
.cfl-section-2-left, .cfl-section-2-right {
    width: 50%;
    float: left;
}
.cfl-blue-bg {
    background-color: rgba(255,255,255,0);
    background-image: linear-gradient(180deg, #fff 50%,#005793 50%);
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.cfl-arrow { width: 80px; margin: 0 auto;  }
.cfl-video { max-width: 800px; width: 70% ; margin: 0 auto;  }
.cfl-section-2-in h3 {
    font-family: nippori, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 15px 0;
}
.cfl-section-2-in p {
    margin: 0px;
    font-family: 'dinmedium';
    font-size: 15px;
    line-height: 20px;
    color: #005793;
}
.cfl-section-2-in {
    width: 46%;
    float: left;
    margin: 2%;
}
.cfl-section-1-left { width: 50%; float: left;  }
.cfl-section-1-left img {width: 100%;}
.cfl-section-1-right { width: 40%; margin: 0 auto;   }
.cfl-section-1-right h6 a {
border: 2px solid #dd2025;
    padding: 15px 30px 15px 78px;
    float: left;
    margin: 0px;
    font-family: dinmedium;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0px 8px 14px #e1e1e1;
    color: #dd2025;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 14px;
       transition: .3s;
}
.cfl-section-1-right h6 a img {
    position: absolute;
    width: 70px;
    top: -30px;
    left: -5px;
}
.cfl-section-1-right h6 {
    position: relative;
    margin: 40px 0 0 0;
    float: left;
}
.cfl-section-1-right h6 a:hover {
    background-color: #dd2025;
    transition: .3s;
    color: white;
}
.cfl-section-1 {
    flex-direction: row;
    align-items: center;
    display: flex;
}
.cfl-section-1-right p {
    color: #005793;
    margin: 0px;
    font-family: 'dinmedium';
    font-size: 24px;
}
.cfl-section-1-right p span {
    font-size: 44px;
}
.cfl-banner { background-image: url('//cdn.shopify.com/s/files/1/0510/9914/0255/files/home_banner.jpg'); height: 100vh; width: 100%;background-size: 100%;
    background-repeat: no-repeat;  }

.cfl-banner-box {
    border: 0px solid red;
    height: 250px;
    position: relative;
}
.cfl-banner-box-in {
max-width: 60%;
    height: auto;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 10%;
    margin: -25px 0 0 -25px;
}    
.cfl-banner-box-in img {
    width: 100%;
}
.cfl-banner-login h5 a {
    color: #004889;
    font-size: 25px;
    background-color: white;
    text-transform: uppercase;
    padding: 20px 30px;
    font-family: 'dinmedium';
    font-weight: normal;
    text-decoration: none;
}
.cfl-banner-box-in .cfl-banner-login-btn img {
    width: 100%;
    max-width: 340px;
}
.cfl-banner-login-btn {
    text-align: center;
}
.cfl-nav-logo {
    border: 0px solid green;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
}
.cfl-logo img {
    width: 100%;
}
.cfl-logo {
    float: left;
    max-width: 449px;
    border: 0px solid red;
}
.cfl-nav {
  z-index: 9;
    margin: 25px;
    float: right;
    position: relative;
}    
.container-full { position: relative; max-width: 1920px; margin: 0 auto; width: 100%;  }
.container-full-1 { position: relative; max-width: 1920px; margin: 0 auto; width: 100%;  }


/*nav css*/
.cfl-topnav {
  overflow: hidden;
  background-color: transparent;
  font-family: dinmedium;
}

.cfl-topnav a {
    position: relative;
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: transparent;
  color: white;
}
.active::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color:white;
    width: 40px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: 0 auto;
}
.cfl-topnav .cfl-icon {
  display: none;
}

.cfl-dropdown {
  float: left;
  overflow: hidden;
}

.cfl-dropdown .cfl-dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.cfl-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cfl-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.cfl-topnav a:hover, .cfl-dropdown:hover .cfl-dropbtn {

}

.cfl-topnav a:hover, .cfl-dropdown:hover .cfl-dropbtn {
  background-color: transparent;
  color: white;
}

.cfl-dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.cfl-dropdown:hover .cfl-dropdown-content {
  display: block;
}

.b2 {
    border: 0px solid red;
}

/*  Footer Css */

.cfl-section-6 { max-width: 1500px; width: 90%; margin: 0 auto; border: 0px dashed red; display: flex; padding: 70px 0; }  
.cfl-footer-div { flex: 1;border: 0px solid;     padding: 15px; }
.cfl-newsletter {  border: 0px solid;  float: left;  width: 100%; margin-top: 10px;}
.cfl-newsletter input[type="email"] {
    border: 1px solid #afafaf;
    width: 100%;
    box-shadow: 0px 2px 3px #dfdfdf;
    height: 55px;
    padding: 0 13px;
}
.cfl-newsletter .newsletter__submit {
    background-color: #00aeef;
    border: none;
    color: white;
    float: left;
    width: 100%;
/*     margin: 10px 0 0 0; */
    font-family: 'dinmedium';
    font-size: 15px;
    cursor: pointer;
    line-height: 20px;
    padding: 19px 0;
    transition: .3s;
        box-shadow: 0px 2px 3px #dfdfdf;
}
.cfl-newsletter .btn.newsletter__submit:hover {
    background-color: #005793;
    transition: .3s;
}

.cfl-footer-bottom {
    background-color: black;
    text-align: center;
    color: white;
}
.cfl-blue-bg-5 {
    background-image: url(../imgs/img_5.jpg);
    height: auto;
    padding: 70px 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;flex-direction: row; align-items: center;
                 display: flex; 
}
.cfl-footer-bottom p {
    margin: 0;
    padding: 15px 0;
    font-family: 'dinmedium';
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: white;
}
.cfl-footer p {
    margin: 0px;
    font-family: 'dinmedium';
    font-size: 15px;
    line-height: 20px;
    color: #000;
}

.cfl-footer-gallery img {
    width: 45%;
    margin: 2%;
}
ul.cfl-quicklinks {
    margin: 0;
    padding: 0;
}
ul.cfl-quicklinks li {
    margin: 0px;
    font-family: 'dinmedium';
    font-size: 15px;
    line-height: 36px;
    color: #000;
    list-style-type: none;
    float: left;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 0 12px;
}

ul.cfl-quicklinks li a:hover { color: #00aeef; transition: .3s;  }
ul.cfl-quicklinks li a {
    text-decoration: none;
    color: black;
    background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/blued.jpg);
    background-size: 6px;
    width: 6px;
    height: 6px;
    padding: 0 0 0 15px;
    background-repeat: no-repeat;
    background-position: center left;
}

ul.cfl-social {
    margin: 0;
    padding: 0;
}
ul.cfl-social li {
    list-style-type: none;
    float: left;
}
.cfl-footer-div h4 {
    font-family: nippori, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 15px 0;
}

/*  // Footer Css*/
/* About Page CSS */
.cfl-about-heading { height: 430px; background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/about-banner.jpg); flex-direction: row;
    align-items: center; display: flex; }
.cfl-about-heading h1 { border: 0px solid; color: white; width: 100%; text-align: center;
    font-family: nippori, sans-serif; font-weight: 400; font-style: normal; font-size: 37px; }
.cfl-about-section-1 { max-width: 1500px; width: 90%; margin: 0 auto; border: 0px dashed red; flex-direction: row; align-items: center;
                margin: 50px auto 50px; display: flex; }
.cfl-about-section-1-left { width: 50%; float: left;   padding: 5%; }
.cfl-about-section-1-left h3 { margin: 0px;  font-family: 'dinmedium';  font-size: 24px;  color: #00ADEE;  font-weight: normal;  }
.cfl-about-section-1-left p {  margin: 15px 0 5px 0;  font-family: 'dinmedium';  font-size: 15px;  line-height: 22px;  color: #000000;} 
.cfl-about-section-1-right { width: 50%; float: left;   }

.cfl-about-section-2 { max-width: 1500px;  width: 90%;  border: 0px dashed red;  margin: 80px auto 50px; }   
.cfl-about-section-3 { max-width: 1500px;  width: 90%;  border: 0px dashed red;  margin: 80px auto 50px;  flex-direction: row; align-items: center;
                margin: 30px auto 50px; display: flex; }   
.cfl-about-section-3 h4 {  margin: 13px auto 0;font-family: 'dinmedium';  font-size: 18px;  line-height: 25px;  
                          color: #00ADEE;  text-align: center;  font-weight: normal;}
.cfl-about-v1 { margin: 1%; flex : 1; }                
.gap-50 { height: 50px;  }
.cfl-about-section-2 h3 { font-family: nippori, sans-serif; font-weight: 400; font-style: normal; font-size: 37px;
                          color: #005793; margin: 0 0 30px 0; text-align: center; }
.cfl-about-section-2 h3:before { position: absolute; content: ""; height: 5px; background-color: #00ADEE; width: 210px;
    left: 0; right: 0; float: none; margin: 0 auto; top: -20px; }
.cfl-about-testimonial ul li {  width: 48%; float: left; background-color: white; padding: 1.5%; list-style-type: none;
    margin: 1%; box-shadow: 0px 6px 17px #00477863; display:none;  }                             
.cfl-about-testimonial ul {  margin: 0; padding: 0; overflow: hidden; }
.cfl-about-testimonial p { margin: 0 0 21px 0; font-family: 'dinmedium'; font-size: 15px; line-height: 22px; color: #000000; }
.cfl-about-testimonial span { margin: 0 0 21px 0; font-family: 'dinmedium'; font-size: 15px; line-height: 22px; color: #00ADEE; }
/* .cfl-about-testimonial { flex-direction: row; align-items: center; margin: 50px auto 50px; display: flex; }     */
.cfl-about-testimonial {  margin: 50px auto 50px; display: blo }    
a.cfl-btn-check { background-color: #00ADEE;  padding: 15px 30px;  float: left;  margin: 0 30px 0px 0;  color: white;  text-decoration: none;
                   font-family: 'dinmedium';  font-size: 18px;  line-height: 20px;}
a.cfl-btn-emp { background-color: #015794;  padding: 15px 30px;  float: left;  margin: 0 30px 0 0;  color: white;  text-decoration: none;
                   font-family: 'dinmedium';  font-size: 18px;  line-height: 20px;}                   

/* //About Page CSS */


/* Services Page CSS */
.cfl-check-emp {  border: 0px dashed red; float: left; margin: 20px 0 0 10px; flex-direction: row; align-items: center;display: flex; }
.cfl-service-section-3 { max-width: 1500px;  width: 90%;  border: 0px dashed red;  margin: 80px auto 50px; }   
.cfl-service-section-3 h3 { font-family: nippori, sans-serif; font-weight: 400; font-style: normal; font-size: 37px;
                          color: #005793; margin: 0 0 8px 0; text-align: center; }
.cfl-service-section-3 h3:before { position: absolute; content: ""; height: 5px; background-color: #00ADEE; width: 210px;
    left: 0; right: 0; float: none; margin: 0 auto; top: -20px; }
.cfl-service-section-3 h4 {  margin:0 auto; font-family: 'dinmedium'; font-size: 18px; line-height: 25px;
    color: #00ADEE; text-align: center; font-weight: normal; }
.cfl-service-section-li-div {  flex-direction: row;  align-items: flex-start;  display: flex;}    
.cfl-service-section-li-1 {  flex: 1;border: 0px dotted red; margin: 40px auto; }
.cfl-service-section-li-in {background-color: white; margin: 2% 2% 5% 2%; box-shadow: 0px 0px 10px #d5d5d5;}
.cfl-service-section-li-in h2 { font-family: nippori, sans-serif;font-weight: normal;font-style: normal;font-size: 18px;
                            color: white;margin: 0 0 8px 0;text-align: left;background-color: #005793;padding: 18px 24px;}
.cfl-service-section-li-in ul {
    margin: 0;
    padding: 10px 0 20px 20px;
}
.cfl-service-section-li-in ul li {
    list-style-type: none;
    margin: 0;
    line-height: 25px;
}
.cfl-service-section-li-in ul li a {
    text-decoration: none;
    margin: 0px;
    font-family: 'dinmedium';
    font-size: 15px;
    line-height: 20px;
    color: #005793;
}
.cfl-service-section-li-in ul li a:hover { color: #00ADEE; transition: .3s; }
/* //Serives Page CSS */

/* Serives Commercial Fuel Polishing CSS */
.cfl-service-section-1-cfl { max-width: 1500px;  width: 90%;  border: 0px dashed red;  margin: 80px auto 50px; }   
.cfl-service-section-1-cfl h3 { font-family: nippori, sans-serif; font-weight: 400; font-style: normal; font-size: 37px;
                          color: #005793; margin: 0 0 8px 0; text-align: center; }
.cfl-service-section-1-cfl h3:before { position: absolute; content: ""; height: 5px; background-color: #00ADEE; width: 210px;
    left: 0; right: 0; float: none; margin: 0 auto; top: -20px; }
.cfl-service-section-1-cfl h4 {  margin:0 auto; font-family: 'dinmedium'; font-size: 18px; line-height: 25px;
    color: #00ADEE; text-align: center; font-weight: normal; }
.cfl-service-section-1-cfl p { font-family: 'dinmedium';font-size: 15px;line-height: 25px;color: #000;text-align: center;    width: 80%;margin: 30px auto 0;}    
.cfl-service-section-2-cfl { max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px;}
.cfl-service-section-2-cfl th { background-color: #015794;color: white;text-align: left;padding: 19px 30px;
                                font-family: nippori, sans-serif;font-weight: normal;font-size: 14px; }
.cfl-service-section-2-cfl table {width: 100%; border: 0px solid #EFEFEF; box-shadow: 0px 7px 8px #EFEFEF; }
.cfl-service-section-2-cfl tr td { font-family: 'dinmedium'; font-size: 15px;  padding: 30px 30px;}                           
.cfl-service-section-2-cfl tr:nth-child(even) {  background: #F8F8F8; }

.cfl-service-section-3-cfl {max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px; overflow: hidden;}  
.cfl-service-section-3-cfl-left { float: left; width: 49%; }
.cfl-service-section-3-cfl-right { float: right; width: 49%; margin-top: 39px;}
.cfl-service-section-3-cfl-left ul { padding: 0px; margin: 0px;  }
.cfl-service-section-3-cfl-left ul li { list-style-type: none; margin: 0; line-height: 32px; background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/blue-tick.png);
    background-size: 14px; background-position: center left; background-repeat: no-repeat; padding: 0 0 0 20px; float: left;
    width: 100%;font-family: 'dinmedium'; font-size: 15px;}
.cfl-service-section-3-cfl-left h4 { margin: 0 0 13px 0;font-family: 'dinmedium';font-size: 18px; line-height: 25px; color: #00ADEE;
    text-align: left; font-weight: normal;}
.cfl-service-section-3-cfl-right p { margin: 0; font-family: 'dinmedium';  font-size: 15px;  line-height: 27px; }

.cfl-service-section-4-cfl-left ul li { list-style-type: none; margin: 0; line-height: 32px; background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/blue-tick.png);
    background-size: 14px; background-position: center left; background-repeat: no-repeat; padding: 0 0 0 20px; float: left;
    width: 100%;font-family: 'dinmedium'; font-size: 15px;}
.cfl-service-section-4-cfl-left { float: left; width: 70%;  }
.cfl-service-section-4-cfl-left p { margin: 0px; font-family: 'dinmedium';  font-size: 15px;  line-height: 27px;  }
.cfl-service-section-4-cfl-left ul { margin: 13px 0; padding: 0px;  }
.cfl-service-section-4-cfl-right { float: right; width: 29%;  }
.cfl-service-section-4-cfl-right img { width: 100%; margin-top: 27px; }
.cfl-service-section-4-cfl { max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px;overflow: hidden;padding: 30px;box-shadow: 0px 0px 18px #e1e1e1;}
.cfl-service-section-4-cfl-left h4 { margin: 0 0 13px 0; font-family: 'dinmedium'; font-size: 18px; line-height: 25px; color: #00ADEE; text-align: left; font-weight: normal;}

.cfl-service-section-5-cfl { max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px;overflow: hidden;}
.cfl-service-section-5-cfl-one h4 { margin: 0 0 13px 0; font-family: 'dinmedium'; font-size: 18px; line-height: 25px; color: #00ADEE; text-align: left; font-weight: normal;}
.cfl-service-section-5-cfl-one ul li {list-style-type: none; margin: 0; line-height: 32px; background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/blue-tick.png);
    background-size: 14px; background-position: center left; background-repeat: no-repeat; padding: 0 0 0 20px; float: left;
    width: 100%; font-family: 'dinmedium'; font-size: 15px;}
.cfl-service-section-5-cfl-one ul { margin: 0; padding: 0;}
.cfl-service-section-5-cfl-two-in {width: 50%;float: left;border-right: 34px solid white;}
.cfl-service-section-5-cfl-two {  border: 0px solid;  float: left;}
.cfl-service-section-5-cfl-two h4 { font-family: 'dinmedium'; font-size: 15px; font-weight: normal; color: #00ADEE; margin: 17px 0 0 0;}
.cfl-service-section-5-cfl-two-in p { font-family: 'dinmedium'; font-size: 15px; font-weight: normal; line-height: 22px; margin: 8px 0 20px 0;}

.cfl-service-section-6-cfl { max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px;overflow: hidden; padding: 30px; 
    background-color: #015794;}
.cfl-service-section-6-cfl-one h4 {margin: 0 0 13px 0;font-family: 'dinmedium';font-size: 18px;line-height: 25px;color: #00ADEE;text-align: leftfont-weight: normal;}
.cfl-service-section-6-cfl-one p {font-family: 'dinmedium';font-size: 15px;font-weight: normal;color: white;margin: 0 0 20px 0;}
.cfl-service-section-6-cfl-one ul { float: left;margin: 0;padding: 0; width: 33%;}
.cfl-service-section-6-cfl-one ul li {color: white;list-style-type: none;font-family: 'dinmedium';font-size: 15px;font-weight: normal;line-height: 27px;}
/* //Serives Commercial Fuel Polishing CSS ENDS */



/* Serives Tank Cleaning CSS */
.cfl-service-section-2-TankCleaning-left {  margin: 0 30px 0 0; }
.cfl-service-section-2-TankCleaning { max-width: 1500px; width: 90%; margin: 0 auto; border:0px dashed red;
    flex-direction: row; align-items: center; margin: 50px auto 50px; display: flex;  }
.cfl-service-section-2-TankCleaning p { font-family: 'dinmedium'; font-size: 15px; font-weight: normal; line-height: 22px; margin: 0;}
.cfl-service-section-2-TankCleaning-left h2 { margin: 30px 0 20px 0; font-family: 'dinmedium'; font-size: 18px;
    line-height: 25px; color: #000000;text-align: left; font-weight: normal; }
.cfl-service-section-2-TankCleaning-left ul li { font-family: 'dinmedium'; font-size: 15px; font-weight: normal;
    line-height: 22px; margin: 0 0 8px 0; list-style-type: none;}
.cfl-service-section-2-TankCleaning-left ul { margin: 0; padding: 0; }
.cfl-service-section-3-TankCleaning h4 {margin: 0 0 13px 0;font-family: 'dinmedium';font-size: 18px; line-height: 25px;
    color: #00ADEE; text-align: left; font-weight: normal; }
.cfl-service-section-3-TankCleaning {max-width: 1500px;width: 90%;border: 0px dashed red;margin: 50px auto 50px; overflow: hidden;} 
.cfl-service-section-3-TankCleaning-left { float: left; width: 33%; }
.cfl-service-section-3-TankCleaning-left ul { padding: 0px; margin: 0px;  }
.cfl-service-section-3-TankCleaning-left ul li { list-style-type: none; margin: 0; line-height: 32px; background-image: url(https://cdn.shopify.com/s/files/1/0510/9914/0255/t/1/assets/blue-tick.png);
    background-size: 14px; background-position: center left; background-repeat: no-repeat; padding: 0 0 0 20px; float: left;
    width: 100%;font-family: 'dinmedium'; font-size: 15px;}
.cfl-service-section-2-TankCleaning {   }    
.cfl-service-section-2-TankCleaning-left span {  color: #00ADEE;  margin: 0 5px 0 0; }
/* //Serives Tank Cleaning CSS ENDS */

/* Services Employment */
.cfl-section-2-emp { max-width: 1500px; width: 90%; border:0px dashed red; margin: 50px auto 50px; overflow: hidden;   }
.cfl-section-2-emp-right { width: 45%; float: right; }
.cfl-check-empemp {  border: 0px dashed red; float: left; margin: 20px 0 0 10px; flex-direction: row; align-items: center;display: flex; }
a.cfl-btn-check-empemp { background-color: #00ADEE;  padding: 15px 30px;  float: left;  margin: 0 30px 0px 0;  color: white;  text-decoration: none;
                   font-family: 'dinmedium';  font-size: 18px;  line-height: 20px;}
.cfl-section-2-emp-left { width: 45%;  float: left; }
.cfl-section-2-emp p { font-family: 'dinmedium'; font-size: 15px; font-weight: normal; line-height: 22px; margin: 0;}

.cfl-section-2-emp-left ul { padding: 0px; margin: 0px;  }
.cfl-section-2-emp-left ul li { font-family: 'dinmedium'; font-size: 15px; font-weight: normal;
    line-height: 22px; margin: 0 0 8px 0; list-style-type: none;}
.cfl-section-2-emp-left h2 { margin: 30px 0 20px 0; font-family: 'dinmedium'; font-size: 18px;
    line-height: 25px; color: #000000;text-align: left; font-weight: normal; }
.cfl-section-2-emp-left span {  color: #00ADEE;  margin: 0 5px 0 0; }  
.cfl-positions-headings .cfl-service-section-li-in h2 {  font-family: 'dinmedium'; }  
.cfl-positions-headings .cfl-service-section-li-in ul li {list-style-type: square;padding: 0 0 0 4px;line-height: 25px;text-decoration: 
    none;margin: 0 0 0 21px;font-family: 'dinmedium';font-size: 15px;color: black;}
.cfl-positions-headings .cfl-service-section-li-in ul {padding: 10px 20px 20px 20px;}
.cfl-positions-headings .cfl-service-section-li-in ul li::marker { color: #00ADEE; }
/* //Services Employment */

/* Contact */
.cfl-contact-section-1 { max-width: 1350px; width: 90%; margin: 0 auto; border: 1px dashed red;  }
.cfl-contact-box .form-vertical { border: 5px solid white; padding: 50px; background-color: #015794;
    box-shadow: 0px 0px 18px #00000047; margin-top: -50px; }

.cfl-contact-box h2 {    color: white;    font-family: 'dinmedium';    font-size: 2.3vw;    
font-weight: normal;    width: 100%;    margin: 0 0 25px 0;    text-align: center;    text-transform: capitalize;     letter-spacing: 0; }

.cfl-contact-box form#ContactForm .medium-up--one-half {
    border: 0px solid red; width: 100%;
}
.cfl-contact-box form#ContactForm .medium-up--one-half label {
    border: 0px solid white;  float: left; width: 20%; color: white;
    font-family: 'dinmedium'; font-size: 15px;  font-weight: normal;
}
.cfl-contact-box form#ContactForm .medium-up--one-half input,
.cfl-contact-box form#ContactForm .medium-up--one-half textarea {
    float: right; width: 79%; background-color: transparent; border-bottom: 3px solid white;
    border-left: 0px; border-right: 0px; border-top: 0px; border-radius: 0; outline: none;
    color: white; padding: 12px 10px; font-size: 14px; }
.cfl-contact-box form#ContactForm .medium-up--one-half input.btn {
    background-color: #00ADEE; width: 140px; float: left; margin-left: 21%; font-family: 'dinmedium';
    font-size: 18px; border: none;padding: 15px 30px;margin-top: 20px;font-weight: normal; }
/* //Contact */


@media only screen and (max-width: 750px) {

}

@media only screen and (min-width: 750px) {
  
  .grid__item.medium-up--one-quarter.text-right.site-header__icons.site-header__icons--plus { display: none; }

}

@media screen and (max-width: 560px) {
  .cfl-section-1 { display: block;  }
  .cfl-section-1-left { width: 100%; }
  .cfl-section-1-right {  width: 90%; }
  .cfl-section-1-right p { font-size: 19px;  }
  .cfl-section-1-right p span {  font-size: 34px;}
  .gap-50 { display: none;  }
  .cfl-about-section-3 { display: block;  }
  .cfl-about-section-3 h4 { height: 40px; margin-bottom: 20px;  }
  .cfl-footer-div { float: left; width: 100% !important;  }
  .cfl-footer-div-content img { float: left; width: 26%; }
  .cfl-footer-div-content br { display: none;  }
  .cfl-footer-div-content p { width: 70%; float: right;  }
}
@media screen and (min-width: 560px) and (max-width: 767px) {
  .cfl-section-1 {  margin-top: 30px; }
  .cfl-section-1-right p { font-size: 16px;  }
  .cfl-section-1-right p span { font-size: 34px; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

.cfl-section-5-contact-1, .cfl-section-5-contact-2 { background-image: none; background-color: white; width: 50%; height: auto; margin: 0px; padding: 10px 20px;  }
.cfl-section-5-contact-1 p, .cfl-section-5-contact-2 p { margin: 0 auto;  }
.cfl-quote-slider h3 { font-size: 27px;  }
.cfl-logo {  max-width: 270px; }
.cfl-nav { margin: 0; max-width: 58%; }
.cfl-section-5-contact-1, .cfl-section-5-contact-2 { background-image: none; background-color: white; width: 50%; height: auto; margin: 0px; padding: 10px 20px;  }
.cfl-section-5-contact-1 p, .cfl-section-5-contact-2 p { margin: 0 auto;  }
}

@media screen and (min-width: 1025px) and (max-width: 1302px) {
    .cfl-logo {  max-width: 370px;  }
.cfl-nav {   margin: 10px 10px 0 0;  width: 59%; }

}

@media screen and (max-width: 767px) {
.cfl-blue-bg-5 { padding: 70px 0px 40px 0px; }
.cfl-section-5-contact { margin: 70px auto 0;  }
 .cfl-section-5-contact-1, .cfl-section-5-contact-2 { background-image: none; background-color: white; width: 100%; height: auto;
  margin: 0 0 20px 0; padding: 10px 20px;  }
.cfl-section-5-contact-1 p, .cfl-section-5-contact-2 p { margin: 0 auto; width: auto;  }

.cfl-section-4-right { display: none;  }
.cfl-section-4-left { width: 90%; }
.cfl-logo {  max-width: 52%; }
.cfl-banner-box {  height: 250px; }
.cfl-banner-box-in { top: 39%;  }
.cfl-banner-box-in .cfl-banner-login-btn img { max-width: 260px; }
.cfl-section-5-contact-1, .cfl-section-5-contact-2 { background-image: none; background-color: white; width: 100%; height: auto;
 margin: 0 0 20px 0; padding: 10px 20px; position: relative; bottom: 35px; }
.cfl-section-5-contact-1 p, .cfl-section-5-contact-2 p { margin: 0 auto; width: auto;  }
.cfl-section-6 { display: block;  }
.cfl-footer-div { float: left; width: 50%;  }
.clear-mob { display: block; clear: both; border:   0px solid red; height: 10px;  }
.cfl-footer-bottom { float: left; width: 100%; }
}

@media screen and (max-width: 360px) {
.cfl-topnav a,.cfl-dropdown-content a, .cfl-topnav.cfl-responsive .cfl-dropdown .cfl-dropbtn { font-size: 14px;  }
.cfl-dropdown-content { min-width: 140px;  }
}

@media screen and (max-width: 500px) {
.cfl-about-section-2 h3, .cfl-section-5-in h3 { font-size: 8vw;  }    
.cfl-about-section-1 { display: block;  }    
.cfl-about-section-1-left { width: 100%; padding: 0 0 5% 0;  }
.cfl-about-section-1-right { width: 100%;  }
.cfl-section-2-in {  width: 100%;  margin: 10px 0 20px 0; }
.cfl-section-5-contact-1 p a { font-size: 15px;  } 
.cfl-section-5-contact-1 p img {  width: 23px; float: none;  margin: 0px 5px -6px 0; }
.cfl-section-5-contact-2 p img { width: 26px; float: none; margin: 0px 14px -6px 0; }
.cfl-section-5-contact-1 p a { font-size: 15px;  } 
.cfl-section-5-contact-1 p img {  width: 23px; float: none;  margin: 0px 5px -6px 0; }
.cfl-section-5-contact-2 p img { width: 26px; float: none; margin: 0px 14px -6px 0; } 
}
@media screen and (max-width: 600px) {
  button.cfl-btn.cfl-add-to-cart, button.cfl-btn.cfl-buy-now { width:100%; }
.cfl-section-2-left, .cfl-section-2-right { width: 100%;  }  
.cfl-section-2 { display: block;  }
.cfl-section-3 { display: block;  }
.flav-choose-box {  display: block;margin: 0 auto; width: 80%; }
.cfl-banner-box-in { max-width: 80%; }
.cfl-blue-bg-5 { background-size: cover !important;  }

}

/*@media screen and (min-width: 768px) {
.cfl-banner-box { top: 140px; }
}*/
@media screen and (min-width: 768px) and (max-width: 1299px) { 
}
@media screen and (min-width: 1299px) and (max-width: 1499px) { 
  .cfl-banner {     height: 657px;  }
.cfl-banner-box { top: 17%; }
 }
@media screen and (min-width: 1025px) and (max-width: 1299px) { 
.cfl-banner-box { top: 12%; }
.cfl-banner { height: 570px; background-size: cover;  }
 }
 @media screen and (min-width: 768px) and (max-width: 1024px) { 
.cfl-banner-box { top: 150px;     height: 140px; }
.cfl-banner-box-in .cfl-banner-login-btn img {  max-width: 220px; }
.cfl-banner { height: 570px; background-size: cover; background-position: -130px 0; }

 } 
@media screen and (min-width: 1499px) {
.cfl-banner-box { top: 22%; }
.cfl-banner {     height: 787px;  }
}

@media screen and (max-width: 768px) {
  .b1 { border: 7px solid transparent;  }
  .cfl-banner-box { top: 0px;  }
    .active::after { margin: 0 0 0 18px;  }
  .cfl-topnav a:not(:first-child), .cfl-dropdown .cfl-dropbtn {
    display: none;
  }
  .cfl-topnav a.cfl-icon {
    float: right;
    display: block;
  }
  .cfl-nav { background-color: #015794;     width: auto; margin: 0px;  }
  .cfl-banner {
    background-image: url('//cdn.shopify.com/s/files/1/0510/9914/0255/files/home_banner.jpg');
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 58px; }
}

@media screen and (max-width: 768px) {
  .cfl-topnav.cfl-responsive {position: relative;}
  .cfl-topnav.cfl-responsive .cfl-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .cfl-topnav.cfl-responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .cfl-topnav.cfl-responsive .cfl-dropdown {float: none;}
  .cfl-topnav.cfl-responsive .cfl-dropdown-content {position: relative;}
  .cfl-topnav.cfl-responsive .cfl-dropdown .cfl-dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
